/* Custom color theme properties */
:root {
  --f7-theme-color: #02a4c6;
  --f7-theme-color-rgb: 2, 164, 198;
  --f7-theme-color-shade: #008BA6;
  --f7-theme-color-tint: #18A6C3;
}

/* Your app custom styles here */
