/* Custom color theme properties */
:root {
  --f7-theme-color: #ffd400;
  --f7-theme-color-rgb: 255, 212, 0;
  --f7-theme-color-shade: #d6b200;
  --f7-theme-color-tint: #ffdb29;
}

/* Your app custom styles here */
